
<style>
.f-info-socials i{
    color: black !important;

}

</style>
<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/username" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/username" target="_blank">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/hariom-patel-dev" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://github.com/hariom-patel-dsa" target="_blank">
                <i class="fa-brands fa-github"></i>
            </a>
        </div>
        <div>&copy; WanderLust Private Limited</div>
        <div class="f-info-link">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer> 


