body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction:column ;
    min-height: 100vh;
}


/* Fix mobile navbar collapse overlapping */

.navbar {
    position: sticky;
    top: 0;
    z-index: 1050;
}

/* .navbar-collapse {
    background-color: white;
    padding: 1rem;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 1050;
} */

.navbar-collapse {
    background-color: white;
    padding: 1rem;
    z-index: 1050;
}



.container{
    flex: 1;
}

.navbar{
    height: 5rem;
     background-color: white ;
}

.fa-compass{
    color:#fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
   
}

/* footer */

.f-info-link a{
    text-decoration: none;
    color: #222222;
}
.f-info-link a:hover{
    text-decoration: underline;

}

.f-info-link{
    width: 100%;
}
.f-info-socials {
    width: 100%;
    font-size: 1.2rem;
    
}


.f-info-socials i{
    margin-right: 1rem;
}

.f-info{
    text-align: center;
    height:8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:space-evenly;

}

/* Cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;

}

.card-body{
    padding: 0 !important;
}



.listing_link{
    text-decoration: none;
}

/* card effect */

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */

.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* show page */

.show-img{
    height: 30vh;
   
}

.btns{
    display: flex;
}

.show-card{
     padding-left: 0;
    padding-right: 0;
}

#map {
  height: 500px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}


textarea.form-control {
  text-align: left;
  padding-left: px;
}


